<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784626413192-ierb05fehej9j85881a0vumdotpb6ke8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784626413192-ierb05fehej9j85881a0vumdotpb6ke8</string>
	<key>API_KEY</key>
	<string>AIzaSyCH4xp72h_dyrbSIB2RBUQQZXQfZZ_X2Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>784626413192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mb.matchbook-app</string>
	<key>PROJECT_ID</key>
	<string>matchbook-ios-96741</string>
	<key>STORAGE_BUCKET</key>
	<string>matchbook-ios-96741.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784626413192:ios:0bace68f0e982cee57393d</string>
</dict>
</plist>